@font-face {
    font-family: 'BTitrBold';
    src:url('../font/BTitrBold.eot?#') format('eot'),    
        url('../font/BTitrBold.woff') format('woff'),
        url('../font/BTitrBold.ttf') format('truetype'); 
}
@font-face {
    font-family: 'BZar';
    src:url('../font/BZar.eot?#') format('eot'),    
        url('../font/BZar.woff') format('woff'),
        url('../font/BZar.ttf') format('truetype'); 
}
/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}


h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6	{
    font-family: "BZar","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    //background-color: #333;
    color: #eee;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    direction: rtl;
    font-family: "BZar","Helvetica Neue",Helvetica,Arial,sans-serif;
}


#header {
    width: 100%;
    z-index: 100;
    padding-top: 200px;
    margin-right: auto;
    margin-left: auto;
    height: 600px;
}

#header h1{
    width: 100%;
    z-index: 100;
	left:0;
    font-size: 100px;
    font-size: 10vw;
    position: absolute;
    text-shadow: 5px 5px 5px #000;
    margin-right: auto;
    margin-left: auto;
}

#menu_tool{
    padding-top: 100px;
}

.sectionHeader{
    text-align: center;
}

.sectionHeader h1{
    font-size:5vw; 
    text-shadow: 5px 3px 3px #000;
    margin-bottom : 40px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px #fff dashed;
}

#menu_tool img {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none; 
    height: 100%;
}

#menu_tool img:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
    box-shadow: 2px 2px 2px #000;
}



#myCarousel{
    background-color: #333;
    background: repeat url(../img/bg.png);
    position: fixed;
    top:0;
    z-index: -50;
    width: 100%;
    left: 0;
}

#myCarousel img{
    height: 600px;
}

.carousel-caption h1{
    font-size: 4vw;
}

.carousel-caption p{
    font-size: 2vw;
}

.row{
    background-color: #333;
    background: repeat url(../img/bg.png);
}


.gap{
    
    height:20px;
}

.marketing h2{
    
    padding-top: 5px;
    padding-bottom: 5px;
}

.marketing p{
    
     padding-top: 5px;
    font-size: 16px;
}