/* font  */

@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
    font-family: 'BTitrBold';
    src:url('../fonts/BTitrBold.eot?#') format('eot'),    
        url('../fonts/BTitrBold.woff') format('woff'),
        url('../fonts/BTitrBold.ttf') format('truetype'); 
}
@font-face {
    font-family: 'BZar';
    src:url('../fonts/BZar.eot?#') format('eot'),    
        url('../fonts/BZar.woff') format('woff'),
        url('../fonts/BZar.ttf') format('truetype'); 
}

/* end font */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}
a:link {
    text-decoration: none;
}
/* end Links */


h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6	{
    font-family: "BZar","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    color: #111;
    text-align: center;
    text-shadow: 0 1px 3px rgba(255,255,255,.5);
    direction: rtl;
    font-family: "BZar","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #ccc;
    background: repeat url(../img/bg2.png);

}

#top-nav{
    background-color: #111;
    background: repeat url(../img/bg.png);
    font-size: 20px;
}

#menu_header {
    width: 100%;
    z-index: 100;
    padding-top: 200px;
    margin-right: auto;
    margin-left: auto;
    height: 600px;
}

#menu_header h1{
    width: 100%;
    z-index: 100;
    right: 0px;
    left: 0px;
    font-size: 100px;
    font-size: 10vw;
    position: absolute;
    text-shadow: 5px 5px 5px #888;
    margin-right: auto;
    margin-left: auto;
    color: #EEE;
    margin-top: 50px;
}

/*.nav-active{

    margin-left: 5px;
    margin-right: 5px;
    background-color: #FF5A0A;
    border-radius: 5px;
    position: relative;
    display: block;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 2px 2px 2px #000;
    line-height: 20px;
    height: 50px;
    text-align: center;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
}*/


.sectionHeader{
    padding-top: 50px;
    text-align: center;
}

.sectionHeader h2{
    font-size:5vw; 
    text-shadow: 5px 3px 3px #aaa;
    margin-bottom : 40px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px #aaa dashed;
}

#menu_tool{
}

#menu_tool img {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none; 
    height: 100%;
}

#menu_tool img:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
    box-shadow: 2px 2px 2px #666;
}

#myCarousel{
    position: fixed;
    top:0;
    z-index: -50;
    width: 100%;
    left: 0;
    right: 0px;
}

#myCarousel img{
    height: 600px;
    width: 100%;
}

.carousel-caption h1{
    font-size: 4vw;
}

.carousel-caption p{
    font-size: 2vw;
}

.row{
    // background-color: #333;
    // background: repeat url(../img/bg2.png);
    width: 100%;
    margin: 0;
    padding: 0;
}

#container{
    margin:0 auto 0 auto;
    padding: 0;
    width: 100%;
    //background: repeat url(../img/bg2.png);

}

.gap{

    height:100px;
}

.marketing h2{

    padding-top: 5px;
    padding-bottom: 5px;
}

.marketing p{

    padding-top: 5px;
    font-size: 16px;
}

#menu_training{

}

#menu_training ul {         
    padding:0 0 0 0;
    margin:0 0 0 0;
}

#menu_training ul li {     
    list-style:none;   
    padding:0 0 0 0;
    margin:0 0 0 0;       

    transition: all 0.3s ease 0s;
}

#menu_training ul li img {

    cursor: pointer;

    height: 100%;
    width: 100%;
    z-index: 2;

    filter:none ;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
    filter: none; /* IE 6-9 */

    transition: all 0.3s ease 0s;
}

#menu_training ul li:hover img {


    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */

}

#menu_training ul li a {
    z-index: 3;
    height: 200px;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    text-align: center;
    color: #eee;

    transition: all 0.3s ease 0s;
}

#menu_training ul li a:hover{
    //background-color: rgba(255,255,255,0.1);

}

#menu_training ul li a .img-tag-header{
    display: block;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    padding: 5px;
    text-shadow:1px 1px 1px #000;
    font-size: 2vw;
    color: #fff;
    background-color: #000;
    background-color: rgba(0,0,0,0.5);
}

#menu_training ul li a:hover .img-tag-header{

    text-shadow:2px 2px 1px #000;
    background-color: #000;
    background-color: rgba(0,0,0,0.8);
}

#menu_training ul li a .img-tag-body{
    display: block;
    right: 0px;
    left: 0px;
    width: 100%;
    padding: 5px;
    text-shadow:1px 1px 1px #000;
    font-size: 1.5vw;
    height: 100%;
}


#menu_training ul li a:hover .img-tag-body{

    //background-color: rgba(0,0,0,0.5);
    // background-color: rgba(0,0,0,0.5);
}

/* Learning
------------------------- */
#learning{

    font-family:"BZar","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.learning{
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 2px 2px 1px #fff;
    padding: 20px 10px;
    margin: 20px 5px;;
    color: #000;
    text-shadow: 1px 1px 1px #000;

}

.learning-divider {
    margin: 20px 0; 
}

.learning-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

#menu_map{


}

#map{

    border-radius: 5px;
    box-shadow: 1px 1px 5px #999;
    margin: 10px;
    min-height: 500px;
    height: 100%;
    color: #000;
    text-align: left;

}

#menu_team{

}

.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
    max-height: 200px;
    max-width: 200px;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

.social-buttons{

}

.social-buttons ul{
    list-style: outside none none;
    width: 100%;
}

.social-buttons li{

    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.social-buttons li span{

    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0px none;
    color: #FFF;
    background-color: #222;
    transition: all 0.3s ease 0s;
}

.social-buttons li span:hover{

    background-color: #666;
}

#map-info{

    z-index: 999;
    height: 200px;
    height: 300px;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    text-align: center;
    color: #000;

}

#info .phone{

    direction: ltr;
}

footer{

    min-height: 100px; 

}


.article{
    margin: 0 0 5px 0;

}

.article-header{
    background-color: #111;
    background: repeat url(../img/bg.png);
    padding: 10px;

    border-top-left-radius: 10px;
    border-top-right-radius:  10px;
    margin: 0px;
    // border-top: 1px #111 dotted; 
    //border-bottom: 1px #111 double; 

    box-shadow: 2px 2px 2px #666;

    color: #eee;

    text-shadow: 1px 1px 1px #000;


}
.article-photo{

    box-shadow: 2px 2px 2px #666;

}

.article-content{
    font-family: "BZar","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #fff;

    box-shadow: 2px 2px 2px #666;
    padding:  10px 10px 10px 10px;
    font-size: 20px;

}

.article-footer{
    
    background-color: #111;
    background: repeat url(../img/bg.png);

    padding: 10px 10px 10px 10px;
    margin: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:  10px;
    box-shadow: 2px 2px 2px #666;

   
    color: #eee;

    text-shadow: 1px 1px 1px #000;

}

.post{
    margin: 20px 0 20px 0 ;
    
}

.post-image{
    
}

.post-body{
    
    
}

.post-header{
    // background-color: #111;
   // background: repeat url(../img/bg.png);
    padding: 5px;
    border-bottom: 1px #111 dotted;

   // border-top-left-radius: 10px;
  //  border-top-right-radius:  10px;
    margin: 0px;
    // border-top: 1px #111 dotted; 

   // background-color: #fff;
   // box-shadow: 2px 2px 2px #333;

    color: #000;

    text-shadow: 1px 1px 1px #fff;
}


.post-content{
     font-family: "BZar","Helvetica Neue",Helvetica,Arial,sans-serif;
   // background-color: #fff;

    //box-shadow: 2px 2px 2px #666;
    padding:  10px 10px 10px 10px;
    font-size: 18px;
    
}


.sidepost{
    margin: 20px 0px 20px 20px ;
    
}

.sidepost-photo{
    box-shadow: 2px 2px 2px #666;
}



.sidepost-header{
   background-color: #111;
    background: repeat url(../img/bg.png);
    padding: 5px;

    border-top-left-radius: 10px;
    border-top-right-radius:  10px;
    margin: 0px;
    // border-top: 1px #111 dotted; 
    //border-bottom: 1px #111 double; 

    box-shadow: 2px 2px 2px #666;

    color: #eee;

    text-shadow: 1px 1px 1px #000;
}


.sidepost-content{
   font-family: "BZar","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #fff;
color: #000;
    box-shadow: 2px 2px 2px #666;
    padding:  10px 10px 10px 10px;
    font-size: 15px;
    
}