/* CSS Document */

#featured figure{display:inline;}/*Double margin fix*/
#posts-list footer{right:-190px;}/*Positioning fix*/

/*smaller width for Social block
	so it won't jump to next line*/
#extras .social{width:165px;}