/* CSS Document */

/*HTML5 tags*/
header,section,footer,
aside,nav,article,figure{
	display:block;
	padding:0;
	margin:0;
}

/*Body*/
body{
	background:#F5F4EF url('../img/bg.png');
    color:#000305;
	font-size:87.5%;/*Best font size 14px*/
	font-family:'Trebuchet MS',Trebuchet,'Lucida Sans Unicode','Lucida Grand','Lucida Sans',Arial,sans-serif;	
	line-height:1.429;
	margin:0;
	padding:0;
	text-align:right;
	direction:rtl;
}
/*Headings*/
h2{font-size:1.571em}/*22px*/
h3{font-size:1.429em}/*20px*/
h4{font-size:1.286em}/*18x*/
h5{font-size:1.143em}/*16x*/
h6{font-size:1em}/*14px*/

h2,h3,h4,h5,h6{
	font-weight:400;
	line-height:1.1;
	padding:0;
	margin-bottom:.8em;
}
/*Anchors*/
a{outline:0;}
a.img{border:0px;text-decoration:none;}
a:link,a:visited{
	color:#C74350;
	padding:0 1px;
	text-decoration:underline;
}
a:hover,a:active{
	background-color:#C74350;
	color:#FFF;
	text-decoration:none;
	text-shadow:1px 1px 1px #333;
}

/*Paragraphs*/
p{margin-bottom:1.143em; padding:0;}
* p:last-child{margin-bottom::0;}
strong,b{font-weight:bold;}
em,i{font-style:italic;}

::-moz-selection{background:#F6CF74;color:#fff;}
::selection{background:#F6CF74;color:#FFF;}

/*Lists*/
ul{
	list-style:outside disc;
	margin:1em 0 1.5em 1.5em;	
}

ol{
	list-style:outside decimal;
	margin:1em 0 1.5em 1.5em;
}

dl{margin:0 0 1.5em 0;}
dt{font-weight:bold;}
dd{margin-right:1.5em;}

/*Quotes*/
blockquote{font-style:italic;}
cite{}
q{}

/****Layout****/
.body{clear:both;margin:0 auto;width:800px;}
img.left, figure.left{float:left;margin:0 0 2em 2em;}
img.right, figure.right{float:left;margin:0 0 2em 2em;}


/*
	Header
	**************/
#banner{
	margin:0 auto;
	padding:2.5em 0 0 0;	
}
/*Banner*/
#banner h1{font-size:3.571em;line-height:.6em;}
#banner h1 a:link,#banner h1 a:visited{
	color:#000305;
	display:block;
	font-weight:bold;
	margin:0 0 .6em .2em;	
	text-decoration:none;
	width:650px;
}
#banner h1 a:hover,#banner h1 a:active{
	background:none;
	color:#C74350;
	text-shadow:none;	
}
#banner h1 strong{font-size:0.36em;font-weight:normal;}


/*Main Nav*/
#banner nav{
	background:#000305;
	font-size:1.143em;
	height:40px;
	line-height:30px;
	margin:0 auto 2em auto;
	padding:0;
	text-align:center;
	width:800px;
	
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;	
}

#banner nav ul {list-style:none; margin:0 auto;width:800px; padding:0;}
#banner nav li {float:right;display:inline;margin:0;padding:0;}


#banner nav .login , #banner nav .logout{
	float:left;	
}

#banner nav .login a:link,#banner nav .login a:visited{
	
}

#banner nav a:link,#banner nav a:visited{
	color:#fff;
	display:inline-block;
	height:30px;
	padding:5px 1.5em;
	text-decoration:none;	
}

#banner nav a:hover,#banner nav a:active,
#banner nav .active a:link,#banner nav .active a:visited{
	background:#c74451;
	color:#fff;
	text-shadow:none !important;
	
		
}

#banner nav li:first-child a{
	border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;	
	
	border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	
}

#banner nav li:last-child a{
	border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;	
	
	border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	
}

/*subMenu*/

.dropotron
	{
		border-radius: 5px;
		background-color: #252122;
		background-color: rgba(34,30,31,0.98);
		padding: 1.25em 1.5em 1.25em 1.5em;
		font-style: italic;
		min-width: 13em;
		box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.5);
		text-align: right;
	}
	
		.dropotron a,
		.dropotron span
		{
			color: #aaa;
			text-decoration: none;
			-moz-transition: color .25s ease-in-out;
			-webkit-transition: color .25s ease-in-out;
			-o-transition: color .25s ease-in-out;
			-ms-transition: color .25s ease-in-out;
			transition: color .25s ease-in-out;
		}
		
		.dropotron li
		{
			padding: 0.25em 0 0.25em 0;
		}

			.dropotron li:hover > a,
			.dropotron li:hover >span
			{
				color: #fff;
			}

		.dropotron.level-0
		{
			margin-top: 2em;
			margin-right: -0.51em;
		}
		
			.dropotron.level-0:before
			{
				content: '';
				display: block;
				position: absolute;
				left: 20px;
				top: -10px;
				border-right: solid 10px transparent;
				border-left: solid 10px transparent;
				border-bottom: solid 10px #252122;
				border-bottom-color: rgba(34,30,31,0.98);
			}

/*
		Featured
	***************/
#featured{
	background:#fff;
	margin-bottom:2em;
	overflow:hidden;
	padding:20px;
	width:760px;
	
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;	
}

#featured figure{
	bordre:2px soild #eee;
	float:left;
	margin:0.786em 2em 0 5em;
	width:248px;	
}
#featured figure img{display:block; float:left;}

#featured h2{color:#c74451;font-size:1.714em;margin-bottom:0.333em;}
#featured h3{font-size:1.429em;margin-bottom:.5em;}

#featured h3 a:link,#featured h3 a:visited{color:#000305;text-decoration:none;}
#featured h3 a:hover,#featured h3 a:active{color:#fff;}

/*
		Body
	*************/
#content{
	background:#fff;
	margin-bottom:2em;
	overflow:hidden;
	padding:20px 20px;
	width:760px;
	
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;	
}

/*
		Extras
	**************/

#extras{margin:0 auto 3em auto;overflow:hidden;}

#extras ul{list-style:none;padding:0;margin:0;}
#extras li{border-bottom:1px solid #fff;}
#extras h2{
	color:#c74350;
	font-size:1.429em;
	margin-bottom:.25em;
	padding:0 3px;	
}

#extras a:link,#extras a:visited{
	color:#444;
	display:block;
	border-bottom:1px solid #f4e3e3;
	text-decoration:none;
	padding:.3em .25em;
}

/*Blogroll*/
#extras .blogroll{
	float:left;
	width:635px;	
}

#extras .blogroll li {float:right;margin:0 0 0 20px;width:185px;}

/*Social*/
#extras .social{
	float:right;
	width:120px;	
}

#extras div[class='social'] a {
	background-repeat:no-repeat;
	background-position:3px 6px;
	background-size:20px;
	padding-left:25px;	
}

/*Icons*/
.social a[href*='facebook.com']{background-image:url(../img/icon/facebook.png);}
.social a[href*='last.fm']{background-image:url(../img/icon/lastfm.png);}
.social a[href*='linkedin.com']{background-image:url(../img/icon/linkedin.png);}
.social a[href*='twitter.com']{background-image:url(../img/icon/twitter.png);}
.social a[href*='/feed/']{background-image:url(../img/icon/rss.png);}

/*
		About
	**************/
	
#about{
	background:#fff;
	font-style:normal;
	margin-bottom:2em;
	overflow:hidden	;
	padding:20px;
	text-align:right;
	width:760px;
	
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;	
	
}

#about .primary{float:right;width:165px;}
#about .primary strong {color:#c64350;display:block;font-size:1.286em;}
#about .photo{float:right;margin:5px 20px; width:50px}

#about .url:link,#about .url:visited{text-decoration:none;}

#about .bio{float:left;width:500px;}

/*
		Footer
	*************/
#contentinfo{padding-bottom:2em;text-align:left;}


/*Blog*/

.hentry{
	border-bottom:1px solid #eee;
	padding:.5em 0;	
	margin:0;
}

li:last-child .hentry,#content>.hentry{border:0;margin:0;}
#content>.hentry{padding:1em 0;}

.entry-title{font-size:1.429em;margin-bottom:0;}
.entry-title a:link,entry-title a:visited{text-decoration:none;}

.hentry .post-info * {font-style:normal;}

/*Content*/
.hentry footer {margin-bottom:2em;}
.hentry footer address {display:inline;}
#posts-list footer address{display:block;}

/*Blog Index*/
#posts-list {list-style:none;margin:0;padding:0;}
#posts-list .hentry{padding-right:200px;position:relative;}

#posts-list footer{
	font-weight:bold;
	left:10px;
	position:absolute;
	top:1.5em;
}

/*photo*/

#posts-list .post-photo{
	right:10px;
	position:absolute;
	top:1.5em;
	width:180px;
	
}
#posts-list .post-photo img{
	width:180px;
	
	box-shadow:2px 2px 1px #333;
	-moz-box-shadow:2px 2px 1px #333;
	-webkit-box-shadow:2px 2px 1px #333;	
	
}

/*post hover*/
#posts-list .hentry:hover{
	background:#c64350;
	color:#fff;	
}
#posts-list .hentry:hover a:link, #posts-list .hentry:hover a:visited{
	color:#f6cf74;
	text-shadow:1px 1px 1px #333;	
}

.pagination{
	display: inline-block;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
}

.pagination a{
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: inherit;
	background-color: #c64350;
	color: #fff;
	padding:5px 10px;
	margin: 0 0.4em 0 0;
	border-radius: 0.4em;
	-moz-transition: background-color .25s ease-in-out;
	-webkit-transition: background-color .25s ease-in-out;
	-o-transition: background-color .25s ease-in-out;
	-ms-transition: background-color .25s ease-in-out;
	transition: background-color .25s ease-in-out;
	box-shadow: inset 0 0.075em 0.25em 0 rgba(0,0,0,0.1);
}

.pagination strong{
	display: inline-block;
	text-align: center;
	color: inherit;
	background-color: #CCCCCC;
	color: #000;
	padding:5px 10px;
	margin: 0 0.4em 0 0;
	border-radius: 0.4em;
	-moz-transition: background-color .25s ease-in-out;
	-webkit-transition: background-color .25s ease-in-out;
	-o-transition: background-color .25s ease-in-out;
	-ms-transition: background-color .25s ease-in-out;
	transition: background-color .25s ease-in-out;
	box-shadow: inset 0 0.075em 0.25em 0 rgba(0,0,0,0.1);
}

.pagination a:hover
{
	background-color: #dadada;
}

.pagination a.active
{
	background-color: #364050;
	color: #fff;
	box-shadow: none;
	text-shadow: -1px -1px 0px rgba(0,0,0,0.5);
}


/*
		FORM
	*************/
	
	form
	{
		font-weight:bold;
	}
		
		form ul{list-style:none;}
		
		form li{margin:30px}
	
		form input,
		form select,
		form textarea
		{
			border-radius: 0.4em;
			-webkit-appearance: none;
			border: solid 1px #ddd;
			padding: 0.5em;
			width: 100%;
		}
		form input.button:hover{
			background-color: #C74350;
			box-shadow: 0px 0px 2px 2px #c94663;
		}
		form input:focus,
		form textarea:focus
		{
			box-shadow: 0px 0px 2px 2px #c94663;
		}

		form ::-webkit-input-placeholder
		{
			color: #aaa;
		}

		form :-moz-placeholder
		{
			color: #aaa;
		}

		form ::-moz-placeholder
		{
			color: #aaa;
		}

		form :-ms-input-placeholder
		{
			color: #aaa;
		}
